<footer>
    <div class="container footer-text">

        <div>
            <a href="https://github.com/lanegrim/Bibliologic">GitHub</a>
        </div>

        <div>
            Created by Lane Grimaud
        </div>

        <div>
            <a href="https://www.linkedin.com/in/lanegrimaud/">LinkedIn</a>
        </div>

    </div>
</footer>