<div class="navbar-fixed">
    <nav class="nav-wrapper cyan darken-4">
        <a href="/entries" class="brand-logo">Bibliologic</a>
        <a href="#" data-target="mobile" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <form action="/entries/new" id="add-entry">
                    <button class="btn waves-effect waves-light" type="submit" name="action" id="add-entry-btn">Add an
                        Entry
                    </button>
                </form>
            </li>
            <li>
                <form action="/sessions?_method=DELETE" method="POST" id="logout">
                    <button class="btn waves-effect waves-light" id="logout-btn" type="submit" name="action">Log Out
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</div>

<ul class="sidenav" id="mobile">
    <li>
        <form action="/entries/new">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add an Entry
            </button>
        </form>
    </li>
    <li>
        <form action="/sessions?_method=DELETE" method="POST" id="side-logout">
            <button class="btn waves-effect waves-light" id="side-logout-btn" type="submit" name="action">Log Out
            </button>
        </form>
    </li>
</ul>