<div class="navbar-fixed">
    <nav class="nav-wrapper">
        <a href="/entries" class="brand-logo">Bibliologic</a>
        <form action="/sessions?_method=DELETE" method="POST" class="right" id="logout">
            <button class="btn blue lighten-2" type="submit" name="action">Log Out
            </button>
        </form>
    </nav>
</div>