body {
    margin-bottom: 2.5em;
}

img {
    width: 20%;
}

nav {
    padding:0 2.5%;
}

.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: rgba(255,255,255,.8);
}

#logout {
    display: flex;
    height: 100%;
    margin-bottom: 0;
}

#logout-btn {
    align-self: center;
}

h1 {
    font-size: 3rem;
    margin-top: .5em;
}

.container {
    width: 80%;
}

.index {
    box-sizing: border-box;
   display: flex;
   flex-direction: column;
   max-width: 1000px;
}

.entry-board {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 3em;
    width: 100%;
}

.entry-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 21%;
    height: 20rem;
    margin-bottom: 2em;
    margin-right: calc(16%/3);
}

.entry-card:nth-of-type(4n) {
    margin-right: 0;
}

.title {
    font-size: 1.5rem;
    text-align: center;
}

.entry-img {
    height: 100%;
    width: 100%;
}

.new-entry {
    align-self: center;
}

#new-card {
    background-color: lightgray;
}

.book:hover{
    cursor: pointer;
    filter: grayscale(75%)
}

#new-card:hover {
    cursor: pointer;
    filter: saturate(300%);
}

@media(max-width:950px){

    .index {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 65%;
    }

    .entry-board {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .entry-card{
        width: 16rem;
        height: 26rem;
        margin-right: 4%;
    }

    .entry-card:nth-of-type(2n) {
        margin-right: 0;
    }

}

@media(max-width:700px){

    .index {
        width: 90%;
    }

    .entry-card{
        width: 14rem;
        height: 22rem;
        margin-right: 0;
    }

}