body {
    margin-bottom: 2.5em;
}

img {
    width: 20%;
}

nav {
    padding:0 2.5%;
}

#logout {
    height: min-content;
    margin-bottom: 0;
}

h1 {
    font-size: 3rem;
    margin-top: .5em;
}

.container {
    width: 80%;
}

.index {
   display: flex;
   flex-direction: column;
}

.entry-board {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 3em;
}

.entry-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 21vh;
    margin-bottom: 2em;
}

.title {
    font-size: 1.5rem;
    text-align: center;
}

.entry-img {
    height: 30vh;
    width: 100%;
}

.new-entry {
align-self: center;
}