<head>
    <%- include ('../partials/head.ejs') %>
        <title>New Entry</title>
</head>

<body>
    <%- include ('../partials/header.ejs') %>
        <div class="container">
            <h1 id="new-entry-title">New Entry</h1>
            <form action="#" id="search-ISBN-form">
                <label for="search-ISBN">Search by ISBN</label>
                <input type="text" name="search-ISBN" id="search-ISBN">
                <button class="mobile-btn btn waves-effect waves-light" type="submit" id="search-ISBN-submit">Search and
                    Autofill
                </button>
            </form>
            <form action="/entries" method="POST" class="entry-form">
                <label for="title">Title:</label>
                <input type="text" name="title" id="data-title" required> <br>

                <label for="author">Author:</label>
                <input type="text" name="author" id="data-author" required> <br>

                <label for="image">Image Link:</label>
                <input type="text" name="image" id="data-img"> <br>

                <label for="genre">Genre:</label>
                <input type="text" name="genre"> <br>

                <label for="rating">Rating:</label>
                <input type="text" name="rating"> <br>

                <label for="notes">Notes:</label>
                <textarea name="notes" cols="30" rows="20"></textarea> <br>

                <input type="text" name="owner" value=<%=currentUser.username%> style="display:none;">

                <button class="mobile-btn btn waves-effect waves-light" type="submit" name="action"
                    id="submit-edits">Create
                </button>
            </form>
        </div>

        <!-- SCRIPTS -->

        <script>
            $(() => {
                const callAPI = (ISBN) => {
                    $.ajax({
                        url: 'https://openlibrary.org/api/books?bibkeys=ISBN:' + ISBN + '&jscmd=data&format=json'
                    }).then(
                        (data) => {
                            for (const ISBN in data) {
                                $('#data-img').attr('value', data[ISBN].cover.large);
                                $('#data-title').attr('value', data[ISBN].title);
                                $('#data-author').attr('value', data[ISBN].authors[0].name);
                            }
                        },
                        () => {
                            console.log('bad request');
                        }
                    );
                };

                $('#search-ISBN-submit').on('click', (event) => {
                    event.preventDefault();
                    let ISBN = $('#search-ISBN').val();
                    callAPI(ISBN);
                });
            });
        </script>
</body>

</html>