<head>
    <%- include ('../partials/head.ejs') %>
        <title>New User</title>
</head>

<body>
    <h1>Create an Account</h1>
    <form action="/users" method="POST">
        <label for="name">User Name:</label>
        <input type="text" name="username" required />
        <label for="password">Password:</label>
        <input type="password" name="password" />
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>